
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<div>
    <canvas id="myChart" width="400" height="400"></canvas>
</div>
<script src="http://www.chartjs.org/dist/master/Chart.bundle.min.js"></script>
<script>
    var repArray=@Html.Raw(Json.Encode(ViewBag.REP));
    var ages1 =@Html.Raw(Json.Encode(ViewBag.AGES1));
    var ages2 =@Html.Raw(Json.Encode(ViewBag.AGES2));
    var ages3 =@Html.Raw(Json.Encode(ViewBag.AGES3));

    var barChartData = {
        labels: repArray,
        datasets: [
            {
                data: ages1
            }
            ,
            {
                data: ages2
            },
            {
                data: ages3
            }
        ]
    };

    Chart.defaults.global.defaultFontFamily = "'Comic Sans MS'";
    Chart.defaults.global.elements.point.radius = 0;
    Chart.defaults.global.elements.point.hoverRadius = 0;

    var ctx = document.getElementById("myChart").getContext("2d");
    new Chart(ctx, {
        type: 'line',
        data: barChartData,
        options: {
            responsive: true,
            legend: {
                display: false
            },
            title: {
                display: false
            },
            scales: {
                xAxes: [{
                    type: "time",
                    time: {
                        displayFormats: {
                            quarter: 'YYYY-MM-DD'
                        }
                    },
                    ticks: {
                        minRotation: 90
                    }
                }]
            }
        }
    });
</script>

